.numbers {
    font-size:400px;
    font-weight:600;
    font-family:"ALK Sanet";
    color:#f7cf43;
    margin-left:250px;
}

.ladybird-error{
    position: absolute;
    top:19vh;
    left:66vh;
    width:40px;
    height:40px;

}

.text-section{
    position: absolute;
    top:60vh;
    left:45vh;
}

.error-subtitle{
    color:#7fd1d8;
}

.fly-error{
    position:absolute;
    left:60vh;
    bottom:10vh;
}

.error-button{
    position:absolute;
    bottom:10vh;
}

.round-button{
    width:160px;
    height:60px;
    border-radius: 290486px;
    padding-left: calc(1em + 0.25em);
    padding-right: calc(1em + 0.25em);
}

.error-click{
    position: absolute;
    bottom:2vh;
    color:white;
    font-size:18px;
}