// variable declaration
$primary: #7fd1d8;
$warning: #f7cf43;
$text: #c5cbcd;

$family-primary: "ALK Sanet";
$family-secondary: "NotoSans-Regular";
$footer-padding:3rem 1.5rem;

// variable declaration
@import "./bulma.sass";
@import "./flaticon";
@import "./fonts";
@import "./contact";
@import "./about-project";
