/*
    Flaticon icon font: Flaticon
    Creation date: 15/10/2020 18:09
    */

@font-face {
  font-family: 'Flaticon';
  src: url('../fonts/Flaticon.eot');
  src: url('../fonts/Flaticon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Flaticon.woff2') format('woff2'),
    url('../fonts/Flaticon.woff') format('woff'),
    url('../fonts/Flaticon.ttf') format('truetype'),
    url('../fonts/Flaticon.svg#Flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Flaticon';
    src: url('../fonts/Flaticon.svg#Flaticon') format('svg');
  }
}

.fi:before {
  display: inline-block;
  font-family: 'Flaticon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.user:before {
  content: '\f100';
}
.in:before {
  content: '\f101';
}
.fb:before {
  content: '\f102';
}
.tw:before {
  content: '\f103';
}
.info:before {
  content: '\f104';
}
.share:before {
  content: '\f105';
}
.plus:before {
  content: '\f106';
}
.clock:before {
  content: '\f107';
}
.edit:before {
  content: '\f108';
}
.checked:before {
  content: '\f109';
}
.eye:before {
  content: '\f10a';
}
.blocks:before {
  content: '\f10b';
}
.internet:before {
  content: '\f10c';
}
.down:before {
  content: '\f10d';
}
.up:before {
  content: '\f10e';
}
.right-chevron:before {
  content: '\f10f';
}
.left-chevron:before {
  content: '\f110';
}

$user: '\f100';
$in: '\f101';
$fb: '\f102';
$tw: '\f103';
$info: '\f104';
$share: '\f105';
$plus: '\f106';
$clock: '\f107';
$edit: '\f108';
$checked: '\f109';
$eye: '\f10a';
$blocks: '\f10b';
$internet: '\f10c';
$down: '\f10d';
$up: '\f10e';
$right-chevron: '\f10f';
$left-chevron: '\f110';
