    /*
    Flaticon icon font: Flaticon
    Creation date: 01/12/2020 19:03
    */

    @font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

  .user:before { content: "\f100"; }
.in:before { content: "\f101"; }
.fb:before { content: "\f102"; }
.tw:before { content: "\f103"; }
.info:before { content: "\f104"; }
.share:before { content: "\f105"; }
.plus:before { content: "\f106"; }
.edit:before { content: "\f107"; }
.checked:before { content: "\f108"; }
.block:before { content: "\f109"; }
.internet:before { content: "\f10a"; }
.down:before { content: "\f10b"; }
.up:before { content: "\f10c"; }
.right-chevron:before { content: "\f10d"; }
.left-chevron:before { content: "\f10e"; }
.eye:before { content: "\f10f"; }
.eye-off:before { content: "\f110"; }
.link:before { content: "\f111"; }
.sticky-notes:before { content: "\f112"; }
.note:before { content: "\f113"; }
.clock:before { content: "\f114"; }
    
    $font-user: "\f100";
    $font-in: "\f101";
    $font-fb: "\f102";
    $font-tw: "\f103";
    $font-info: "\f104";
    $font-share: "\f105";
    $font-plus: "\f106";
    $font-edit: "\f107";
    $font-checked: "\f108";
    $font-block: "\f109";
    $font-internet: "\f10a";
    $font-down: "\f10b";
    $font-up: "\f10c";
    $font-right-chevron: "\f10d";
    $font-left-chevron: "\f10e";
    $font-eye: "\f10f";
    $font-eye-off: "\f110";
    $font-link: "\f111";
    $font-sticky-notes: "\f112";
    $font-note: "\f113";
    $font-clock: "\f114";