.earth{
    width:45px;
    height:45px;
}

.dropdown-button{
    background-color:white;
    border: none;
    position: relative;
    left: 8rem;
    top: 4rem;
}
.dropdown-menu-content {
    left: 2.7rem;
    top: 7rem;
    min-width: 6rem;
}
.dropdown-menu-content-item {
    box-shadow: 2px 2px 8px rgba(127, 209, 216, 0.4);
    border-radius: 8px;
}
.fly-1{
    position:fixed;
    right: 5rem;
    top: 14rem;
}

.fly-2{
    position:fixed;
    left:10vh;
    top:70vh;
}

.yellow-ladybird{
   position: absolute;
   left: 16.5rem;
   top: 1.5rem;
   z-index: 30;
}
.search-input {
    border: transparent;
    background-color: transparent;
}
.blue-mark{
    position: absolute;
    right: 3rem;
    top: 0.4rem;
}

.search{
    position:absolute;
    right: 5rem;
    top: 0.4rem;
}

.plus{
    position:absolute;
    right: 0.6rem;
    top: 0.4rem;
}

.is-width{
    width:714px;
    height:185px;
}

.padding-left{
    padding-left:50px;
}
.padding-top{
    padding-top:25px;
}


.click{
    position:absolute;
    bottom:0.5vh;
    color:$primary;
    font-size:12px;
    font-family:$family-primary;
}

.button-size{
    width: 30px;
    height:30px;
  }

.click-button{
    width:90px;
    height:30px;
    box-shadow: 2px 2px 8px #7FD1D866;
    border-radius: 15px;
    border-radius: 290486px;
    padding-left: calc(1em + 0.25em);
    padding-right: calc(1em + 0.25em);
}

.user-color{
    background-color: rgba(247, 207, 67, 1);
    height: 20px;
    width: 20px;
    border-radius: 100%;
    padding-left: 0;
    padding-right: 0;
    border-color: rgba(247, 207, 67, 1);
    box-shadow: 2px -1px 12px -4px rgba(247, 207, 67, 1);
    font-size: 14px;

}
  